.site-header {
  display: flex;                 
  justify-content: space-between; 
  align-items: center;           
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.site-header .main-nav a {
  margin-left: 20px;            
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.site-header .logo img {
  display: block;               
  height: 50px;               
}


.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #222;
  color: white;
}

.site-footer a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

