
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.container-principal {
    max-width: 800px;
    width: 100%;
}


h1 {
    text-align: center;
    color: #007bff;
    margin-bottom: 10px;
}


.card-activitati {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}


#inputActivitate {
    width: calc(100% - 140px); 
    padding: 10px;
    margin-right: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

#btnAdauga {
    padding: 10px 15px;
    background-color: #ff0040;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

#btnAdauga:hover {
    background-color: #a30000;
}


#listaActivitati {
    list-style-type: none; 
    padding: 0;
    margin-top: 20px;
}

#listaActivitati li {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
}


.instructiuni {
    text-align: center;
    font-style: italic;
    color: #6c757d;
}